body {
  background-color: #f2f2f2;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  font-size: 2.07em;
  line-height: 39.80px;
  padding-top: 30px;
}

h3 {
  font-size: 1.44em;
  line-height: 27.64px;
  padding-top: 15px;
}

p {
  font-size: 100%;
  line-height: 20px;
}

figcaption {
  font-size: .83em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a { text-decoration: none; }
a:link { color:#0070BB; }
a:visited { color:#0070BA; }
a:hover { color:#0070BC; }
a:active { color:#0070BD; }

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
